<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">My Portfolio</h1>
    <p class="lead text-muted">Here is my portfolio I hope you enjoy it. Have fun, be safe, don't make horcruxes, and don't make any deals with death.</p>
    <p>
      <%= link_to 'Find Out More About Me', about_me_path, class: 'btn btn-primary'%>
      <%= link_to 'My Blog', blogs_path, class: 'btn btn-secondary'%>
    </p>
  </div>
</section>
