<div class="app-card-container">
  <div class="card">
      <h1>About Me</h1>
  
      <hr>
      
      <div class="row">
        <div class="col-md-4">
        <%= image_tag "JESSIE.jpg", width:300, alt: "Profile Image", class: 'profile-img' %>
        </div>
        
        <div class="col-md-8">
          <p>I am a student at Cottonwood High School and I am participating in the Code to Success program.</p>
      
          <p> In the program we are learning how to code.</p>
          
          <p>
            <button
              class="btn btn-primary"
              type="button"
              data-toggle="collapse"
              data-target="#jobHistory"
              aria-expanded="false"
              aria-controler="jobHistory"
            >
              Job History
               </button>
          </p>
          
          <button
              class="btn btn-primary"
              type="button"
              data-toggle="collapse"
              data-target="#education"
              aria-expanded="false"
              aria-controler="education"
            >
              Education
               </button>
          <p>
            
          
          
          <div class="collapse" id="jobHistory">
            <div class="card card-block">
              Dog Sitting
            </div>
            <div class="card card-block">
              Mowing Lawns
            </div>
            <div class="card card-block">
              Watering Flowers
            </div>
          </div>
          
          <div class="collapse" id="education">
            <div class="card card-block">
              Twin Peaks Elementary School
            </div>
            <div class="card card-block">
              Bonneville Junior High
            </div>
            <div class="card card-block">
              Cottonwood High School
            </div>
          </div>
          </p>
      </div>
    </div>
  </div>
</div>

