<h1>Contact Me At:</h1>

<h3>Phone Number:</h3>
<p><%= number_to_phone "6666666666" %></p>

<h3>Random Number:</h3>
<p><%= number_with_delimiter "16086243848423" %></p>

<h3>Email:</h3>
<p>test@email.com</p>

<div class="col-md-6">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3027.225938284682!2d-111.85435468422563!3d40.646949679339095!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8752620b08700f4b%3A0xd6d6bc49e28b05c1!2sCottonwood+High+School!5e0!3m2!1sen!2sus!4v1501088098479" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>